---
#------------------------------------------------------------------------------
# Slurm Compute Role - Compute Node Configuration
#------------------------------------------------------------------------------

- name: Install Slurm compute packages
  ansible.builtin.apt:
    name:
      - slurm-wlm
      - slurmd
      - munge
    state: present

- name: Create Slurm directories
  ansible.builtin.file:
    path: "{{ item }}"
    state: directory
    owner: slurm
    group: slurm
    mode: '0755'
  loop:
    - /var/spool/slurmd
    - /var/log/slurm

- name: Copy munge key from controller
  ansible.builtin.copy:
    src: /etc/munge/munge.key
    dest: /etc/munge/munge.key
    owner: munge
    group: munge
    mode: '0400'
  delegate_to: "{{ groups['slurm_controllers'][0] }}"

- name: Configure slurm.conf
  ansible.builtin.template:
    src: slurm.conf.j2
    dest: /etc/slurm/slurm.conf
    owner: slurm
    group: slurm
    mode: '0644'
  notify: Restart slurmd

- name: Configure gres.conf for GPUs
  ansible.builtin.template:
    src: gres.conf.j2
    dest: /etc/slurm/gres.conf
    owner: slurm
    group: slurm
    mode: '0644'
  notify: Restart slurmd

- name: Start munge service
  ansible.builtin.service:
    name: munge
    state: started
    enabled: yes

- name: Start slurmd service
  ansible.builtin.service:
    name: slurmd
    state: started
    enabled: yes
